Repository Tulasi2710/AKS-Infrastructure-Project: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines.yml, pipelines/k8s-deployment.yml, pipelines/microservices-pipeline.yml

Path conditions:
  pipelines/azure-pipelines.yml: any of: terraform, pipelines/azure-pipelines.yml
  pipelines/k8s-deployment.yml: any of: k8s, scripts/deploy-microservices.*, pipelines/k8s-deployment.yml
  pipelines/microservices-pipeline.yml: any of: k8s, scripts/deploy-microservices.*, pipelines/microservices-pipeline.yml

feat: implement separated pipeline architecture
  .github/workflows/deploy-k8s.yml
  .github/workflows/terraform.yml
  docs/SEPARATED-PIPELINES.md
  pipelines/azure-pipelines.yml
  pipelines/k8s-deployment.yml
Due: pipelines/azure-pipelines.yml, pipelines/k8s-deployment.yml

Implemnting gitops
  .github/workflows/argocd-sync.yml
  .github/workflows/gitops-argocd.yml
  PROJECT-STATUS.md
  README.md
  argocd/applications.yaml
  argocd/argocd-namespace.yaml
  argocd/project.yaml
  docs/gitops-summary.md
  pipelines/argocd-pipeline.yml
  pipelines/argocd-sync-pipeline.yml
  scripts/install-argocd.ps1
  scripts/install-argocd.sh
Due: none

fix: Revert terraform and azure pipelines to working version from commit 17fe10f
  .github/workflows/terraform.yml
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

refactor: Simplify pipelines to 2 essential workflows
  .github/workflows/argocd-sync.yml
  .github/workflows/deploy-k8s.yml
  .github/workflows/gitops-argocd.yml
  .github/workflows/infrastructure.yml
  .github/workflows/microservices.yml
  pipelines/argocd-pipeline.yml
  pipelines/argocd-sync-pipeline.yml
  pipelines/k8s-deployment.yml
  pipelines/microservices-pipeline.yml
Due: pipelines/k8s-deployment.yml, pipelines/microservices-pipeline.yml

fix: Resolve kubectl cluster connection error in manifest validation
  .github/workflows/gitops-argocd.yml
Due: none

fix: Resolve Azure login federated identity credential mismatch
  .github/workflows/gitops-argocd.yml
Due: none

fix: Add intelligent AKS cluster discovery and better error handling
  .github/workflows/gitops-argocd.yml
Due: none

fix: Remove duplicate port definition in ArgoCD LoadBalancer service
  argocd/argocd-namespace.yaml
Due: none

✅ Assignment Compliance: Complete implementation
  .github/workflows/daily-report.yml
  .github/workflows/gitops-argocd.yml
  .github/workflows/terraform.yml
  README.md
  docs/deployment-guide.md
  k8s/monitoring/install-monitoring.sh
  k8s/monitoring/prometheus-grafana-helm.yaml
  k8s/monitoring/servicemonitor.yaml
  reports/README.md
Due: pipelines/k8s-deployment.yml, pipelines/microservices-pipeline.yml

🔧 Fix deprecated GitHub Actions
  .github/workflows/daily-report.yml
  .github/workflows/gitops-argocd.yml
  .github/workflows/terraform.yml
Due: none

🔧 Fix ArgoCD installation StatefulSet vs Deployment issue
  .github/workflows/gitops-argocd.yml
  scripts/install-argocd.ps1
  scripts/install-argocd.sh
Due: none

🔧 Fix Checkov output file path error
  .github/workflows/terraform.yml
Due: none

🔧 Fix monitoring stack timeout with optimized installation
  .github/workflows/gitops-argocd.yml
  k8s/monitoring/install-lightweight-monitoring.sh
Due: pipelines/k8s-deployment.yml, pipelines/microservices-pipeline.yml

🔧 Fix skipped sync-applications job condition
  .github/workflows/gitops-argocd.yml
Due: none

📊 Daily performance report - 2025-10-08
  reports/performance-report-2025-10-08.md
Due: none

📝 Final Assignment Submission - Complete Infrastructure & Documentation
  PROJECT-STATUS.md
  README.md
  docs/SEPARATED-PIPELINES.md
  docs/gitops-summary.md
  k8s/backend/backend-services.yaml
  k8s/database/postgres-deployment.yaml
  k8s/monitoring/grafana-service-fix.yaml
  scripts/access-grafana.bat
Due: pipelines/k8s-deployment.yml, pipelines/microservices-pipeline.yml
